/* Add your custom styles here */

.slider-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }
  
  .slider-image-container {
    width:900px;
    height: 500px; /* Adjust the height as desired */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
  }
  
  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: contain;

  }

  
  /* .slider-close, */
  .slider-prev,
  .slider-next {
    position: absolute;
    top: 50%;
    right: 60%;
    cursor: pointer;
    left: 60%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    font-size: 50px;
  }
  
  .slider-close {
    /* right: 10px; */
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    font-size: 50px;
  }
  .slider-close svg{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .slider-prev {
    left: 10px;
  }
  
  .slider-next {
    right: 10px;

  }
  