.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
.trigger:hover {
  color: #1890ff;
}
  
.header-sidebar {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.ant-layout {
  min-height: 100vh !important;
}
.ant-menu-item-selected{
  background-color: #4e288b8a !important;
  width: 100% !important;
  height: 100% !important;
  margin: 3px auto !important;
  border-radius: 0px !important;
}
.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
  transition: all 0.5s cubic-bezier(0, 0.21, 0.03, 1.36) 0s !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}
.sm-header-sidebar {
  display: none;
}
  
  .ant-layout-sider-collapsed .sm-header-sidebar {
    display: block;
    transition: 0.3s;
  }
  .ant-layout-sider-collapsed .lg-header-sidebar {
    display: none;
    transition: 0.3s;
  }
  .header-sidebar {
    background-color: #2281da;
    margin: 0;
    height: 64px;
    transition: 0.3s;
  }
  main {
    height: 85vh;
    overflow-y: scroll;
    background-color: transparent !important;
  }
  main::-webkit-scrollbar {
    width: 0px;
  }
  .ant-menu-title-content {
    font-size: 16px;
  }
  .ant-layout-header h5 {
    line-height: 20px;
    font-size: 14px;
  }
  .ant-layout-header p {
    line-height: 20px;
    font-size: 13px;
  }
  .ant-layout-header div .badge {
    top: 16px;
    right: -6px;
  }