.images-container{
    /* display: flex;
    height: auto;
    height: 400px;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three equal-width columns */
    gap: 10px;
    max-height: 400px;
    overflow-y: auto;
    
    
}
.image-preview{
    position: relative;
    width:auto;
    max-height:150px;
}
.image-preview img{
    object-fit:'cover';
    width: 100%;
    height: 100%;
}

.image-preview .close{
    top: 0px;
    right: 10px;
    color: red;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
}