
.brand-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-x: auto;
}

.brand-logo {
    max-height: 70px; /* Adjust according to your design */
    height: 90px;
    margin: 0 10px; /* Space between logos */
}
