.language-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    width: 70px;
    padding: 2px 3px;

}
.language-icon:active{
    background-color: rgba(128, 128, 128, 0.144);
}
.language-dropdown{
    position: relative;
}
.language-options{
    position: absolute;
    transition: 3s;
    top: 27px;
    width: 100%;
    color: white;
    background-color: rgb(184, 184, 184);
    padding: 4px 0px;

}
.language-option{
    cursor: pointer;
    padding: 5px 5px;
}
.language-option:hover{
    background-color: rgba(46, 46, 46, 0.349);
}