.cart-wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
}



/* .payment-layout-container{
    background-color: black;
} */
.payment-layout-steps{
    background-color: rgb(238, 236, 236);
    padding: 30px;
    margin-bottom: 20px;
}

.coupon-code-input{
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    gap: 10px;
}
.coupon-code-input input{
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    border:1px solid rgba(0, 0, 0, 0.233);
}
.coupon-code-input input[type="button"]{
    font-weight: bold;
    background-color: rgb(236, 188, 143);
}
.coupon-code-input input[type="button"]:hover{
    color: white;
    background-color: rgb(192, 151, 112);
}
.checkout-button{
    margin:auto;
}
.checkout-button a{
    font-weight: bold;
    background-color: rgb(179, 179, 179);
    text-align: center;
    color: white;
    padding: 15px 40px;
    border-radius: 30px;
    border:1px solid rgba(0, 0, 0, 0.233);
}